[user]
	name = John Rose
	email = johnedmundrose@gmail.com
[core]
	editor = code-insiders --wait
[diff]
	tool = bcomp
[merge]
	tool = bcomp
[mergetool "bcomp"]
	trustExitCode = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
